/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

#habit-tracker {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

#habit-tracker h2 {
    color: #3a3a3a;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -20px;
}

/*General styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Exo 2', sans-serif;
}

/*Header*/
header {
    background-color: #FCAA67;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #544750;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    color: #B0413E;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*Main*/
main {
    flex: 1 0 auto;
    margin-top: 40px;
}

footer {
    background-color: cyan;
}